<h3>Crear Vehículo</h3>
<p *ngIf="dataSaved && productForm.pristine" ngClass = "success">
	Vehiculo creado éxitosamente.
</p>
<form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
  <table>
	 <tr> 
	   <td>Placa: </td>
	   <td> 
		<input formControlName="plate">
		<div *ngIf="plate.dirty && plate.errors" class = "error"> 
	           <div *ngIf="plate.errors.required"> 
			Placa requerida.
		   </div>	
	        </div>
	   </td>
	 </tr> 
	 <tr> 
	   <td>Marca: </td>
	   <td> 
	      <input formControlName="brand">
	      <div *ngIf="brand.dirty && brand.errors" class = "error"> 
		  <div *ngIf="brand.errors.required"> 
			Marca requerida.
		  </div>	
	      </div>	   
	   </td>
	 </tr> 	 
	 <tr>
	   <td>Año: </td>
	   <td> 
	      <input formControlName="year">
	      <div *ngIf="year.dirty && year.errors" class = "error"> 
	        <div *ngIf="year.errors.required"> 
			Año requerido.
		</div>			   
	      </div>	   
	   </td>
	 </tr> 	 	 
	 <tr> 	  
	   <td colspan="2">
	      <button [disabled]="productForm.invalid">Submit</button>
	   </td>
	 </tr>	   
  </table>  
</form>
<h3>Detalles del vehículo</h3>
<p *ngFor="let product of allProducts$ | async">
	{{product.id}} | {{product.plate}} | 
  {{product.brand}} | {{product.year}}
</p> 