.example-card {
    max-width: 500px;
    background-color: white;
    margin: auto;
}

.example-header-image {
  background-image: url('https://www.nicepng.com/png/detail/109-1093572_before-the-existence-of-mixologists-we-have-our.png');
  background-size: cover;
}

.mat-card-subtitle{
  color: #ce1818;
}