<h2>Nuestros productos</h2>

<div *ngIf="undefined === products">Loading...</div>

<div *ngIf="undefined !== products">
    <div *ngFor="let product of products['data']" >
      <h3>
        <a [title]="product.brand + ' details'" [routerLink]="['/vehicles', product.id]">
          {{ product.brand }}
        </a>
      </h3>
     
      <p *ngIf="product.brand">
        Placa: {{ product.brand }}
      </p>
      <p *ngIf="product.year">
            Año: {{ product.year }}
          </p>
    
    <!--       <button (click)="share()">
                Compartir
              </button>
    -->
              <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
    </div>

</div> 




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->