<a [routerLink]="['/']" class="col-6" >
  <h1>Parqueadero HRS</h1>
</a>



<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu_open</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/new_vehicle']" >
    <mat-icon>create</mat-icon>
    <span>Crear nuevo producto</span>
  </button>
  <button mat-menu-item  [routerLink]="['/rates']">
    <mat-icon>local_parking</mat-icon>
    <span>Tarifas</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->